* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), #000),url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;/*viewport height*/
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0;
}