img {
    width: 30%;
    float: left;
    margin: 1.66%;
}

h1 {
    font-family: Lobster;
    margin-left: 1.66%;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid red;
    width: 30%;
    padding-bottom: 20px;
}