body {
    background-color: #536278;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

.square {
    width: 30%;
    background-color: #301958;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

h1 {
    color: white;
}

span {
    color: pink;
}