body {
    background-color: #B8C5E6;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

.square {
    width: 30%;
    background-color: #301958;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

h1 {
    height: 50px;
    text-align: center;
    color: white;
}

span {
    color: black;
}

#stripe {
    background-color: white;
    border: black 3px solid;
    height: 30px;
    text-align: center;
}

.selected {
    background-color: blue;
}
