<% include ./partials/header%>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
        <form class="ui form" action="/blogs" method="POST">
            <div class="field">
                <label>Title</label>
                <input type="text" name="blog[title]" placeholder="input title">
            </div>
            <div class="field">
                <label>Image</label>
                <input type="text" name="blog[image]" placeholder="input image url">
            </div>
            <div class="field">
                <label>Blog Content</label>
                <textarea name="blog[body]" placeholder="post content goes here"></textarea>
            </div>
            <input class="ui brown basic button" type="submit"></input>
        </form>
        <a href="/blogs">Go back!</a>
</div>

<% include ./partials/footer%>